*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
body{
		background-color: hsl(30, 38%, 92%);
		font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
		
	}
@media screen and (min-width: 768px){
	
	.wrap{
		max-width:1440px;
		min-height:90vh;
		display:flex;
		align-items:center;
		justify-content: center;
		
		
		
	}
	.image{
		width:300px;
		height:450px;
		border-top-left-radius:1rem;
		border-bottom-left-radius:1rem;
		background: url(./images/image-product-desktop.jpg);
		background-size:cover;
		
	}
	.card{
		background-color: hsl(0, 0%, 100%);
		width:300px;
		height:450px;
		border-top-right-radius:1rem;
		border-bottom-right-radius:1rem;
	}
	.comment{
		
		margin:15px 15px 15px;
		padding:5px;
	}
	.pef{
		color:hsl(233, 4%, 60%);
		margin-bottom:5px;
		font-size:14px;
		letter-spacing:5px;
		 font-weight: 500;
		 font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
		
	}
	.channel{
		color:hsl(228, 12%, 48%);
		margin-bottom:10px;
		 font-weight: 500;
		 line-height:1.5rem;
		 font-size:18px;
		 font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
			
		
	}
	h1{
		margin-bottom:15px;
		font-family: 'Fraunces', serif;
		font-size:40px;
		 font-weight: 700;
		
	}
	
	.prices {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		
	}
	
	.big_price{
		color:hsl(158, 36%, 37%);
		font-size:40px;
		font-family: 'Fraunces', serif;
		font-weight:700;
	}
	
	.small_price{
		color:hsl(228, 12%, 48%);
		font-size:14px;
		font-family: 'Montserrat', sans-serif;
		text-align:center;
		font-weight:500;
	}
	button{
		background-color:hsl(158, 36%, 37%);
		width:100%;
		color:hsl(0, 0%, 100%);
		 cursor:pointer;
		border:none;
		border-radius:10px;
		
		
	}
	 button:hover{
		background-color: hsl(145, 30%, 20%);
	 }
	
	.cart{
		padding:15px;
		font-weight: 500;
		font-size:15px;
		
	}
	.icon{
		margin-right:10px;
	}
	
    footer {
		font-size: 11px; text-align: center; 
		}
    footer a {
		color: hsl(228, 45%, 44%); 
		}

}
@media screen and (max-width: 767px){
	
	.wrap{
		max-width:767px;
		min-height:50vh;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content: center;
		padding:16px;
	}
		
	
	.image{
		min-height: 35vh;
		min-width:100%;
		background: url(./images/image-product-mobile.jpg);
		background-size:cover;
		border-top-left-radius:1rem;
		border-top-right-radius:1rem;
		
	}
	
	
	.card{
		background-color: hsl(0, 0%, 100%);
		border-bottom-left-radius:1rem;
		border-bottom-right-radius:1rem;
		
		
		
	}
	.pef{
		color:hsl(233, 4%, 60%);
		margin-top:10px;
		margin-bottom:10px;
		font-size:14px;
		letter-spacing:5px;
		 font-weight: 500;
		
	}
	h1{
		margin-bottom:15px;
		font-family: 'Fraunces', serif;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
		font-size:35px;
		 font-weight: 700; 
		 line-height:2rem;
		
	}
	.comment{
		margin:15px;
		margin-bottom: 15px;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
		font-size:20px;
		font-weight:500;
	}
	
	.channel{
		color:hsl(228, 12%, 48%);
		 font-weight: 500;
		 line-height:1.2rem;
		 font-size:14px;
		 	font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
	}	

     	 .prices {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 30px;
		
	}
	.big_price{
	color:hsl(158, 36%, 37%);
		font-size:40px;
		margin-right:15px;
		font-family: 'Fraunces', serif;
		font-family: 'Outfit', sans-serif;
		font-weight:700;
		margin-top:15px;
}
.small_price{
		color:hsl(228, 12%, 48%);
		font-size:14px;
		font-family: 'Montserrat', sans-serif;
		font-family: 'Outfit', sans-serif;
		margin-top:5px;
}
button{
		background-color:hsl(158, 36%, 37%);
		width:100%;
		color:hsl(0, 0%, 100%);
		 cursor:pointer;
		border:none;
		border-radius:5px;
}
 button:hover{
		background-color: hsl(145, 30%, 20%);
 }
.cart{
		padding:15px;
		font-weight: 500;
		font-size:15px;
}
.icon{
		margin-right:10px;
}
footer{	font-size: 11px; text-align: center; 
		}
    footer a {
		color: hsl(228, 45%, 44%); 
		}
}
